.frame-large1{
    width: 500px;
    height: fit-content;
    margin:  auto;
    margin-top: 160px;
    margin-bottom: 160px;
    background-color:white;
    padding: 30px;
    border:10px solid #FFF48F;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.frame-large{
    width: 500px;
    height: 1200px;
    margin:  auto;
    margin-top: 160px;
    margin-bottom: 160px;
    background-color:white;
    padding: 30px;
    border:10px solid #FFF48F;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.sm-cl2 {
    background-color:#00CC00;
    border: #00CC00;

    &:hover {
        background-color:#006633;
      }
}

.sm-cl1 {
    background-color:#F79400 ;
    border: #F79400;

    &:hover {
        background-color:#F03A00;
      }
}