.register-input {

    position: relative;
    width: 400px;

    
}
.register-inpu {

    position: relative;

}

.register-input1 {

    position: relative;
    width: 400px;
    
}
.register-input2 {

    position: relative;
    width: 400px;
    
}

.register-input3 {

    position: relative;
    width: 400px;
    
}

.register-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; 
    cursor: pointer;
    height: auto;     
}




.register-textshowname {
    position: absolute;
    top: 40%; 
    transform: translateY(-70%);
    left: 10px; 
    font-size: 15px;         
}

.register-textshow {
    position: absolute;
    top: 35%; 
    transform: translateY(-70%);
    left: 10px; 
    font-size: 15px;         
}
.register-textshows {
    position: absolute;
    top: 35%; 
    transform: translateY(-70%);
    right:120px; 
    font-size: 15px;         
}

.register-toggle img {
    width: 20px; 
    height: 20px; 
  }

.register-form-control {
    width: 100%;
    margin: 10px 0;
  }

.custom-h1 {
    color: #F79400;
    text-align: center;
    font-family: Semi Bold;
    margin-top: 50px;
    margin-bottom: 20px;
  }

.checkbox{
  
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: center; 
  }

.register-logintext{
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: center; 

}

.buttonregister {
    display: flex;
    margin-top: 10px;
    justify-content: center; 
    align-items: center; 
    margin:auto;
    width:200px;
    font-size: 25px;   
    height:50px;
    background-color: #F79400;
    border-color: #F79400;
}
.buttonregister:hover {
    background-color: #976111;
    border-color: #F79400;
}


.link {
    color:#e0dee2;
    margin-left: 2px;
  }
  
 .form-check-label {
    margin-left: 5px;
}