.carousel-img {
    display: block;
    width: 100%;
    margin: 0;
    max-height: 600px;
}
.carousel-button {
    padding: 0; 
    border: none; 
    background: none;
    cursor: pointer; 
    display: block;
    width: 100%; 
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(255, 255, 255) 5px;
    margin-top: 3%;
}