HOST=
PORT=
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=

DATABASE_CLIENT=
DATABASE_FILENAME=
JWT_SECRET=
SENDGRID_API_KEY=

INIT_ADMIN=
INIT_ADMIN_USERNAME=
INIT_ADMIN_PASSWORD=
INIT_ADMIN_FIRSTNAME=
INIT_ADMIN_LASTNAME=
INIT_ADMIN_EMAIL=

NODE_ENV=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
