.historycard-main {
  border-radius: -10px;
  margin-bottom: 20px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.historycard-main:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.B1 {
  padding: 10px;
  background-color: #f5f5f5;
  justify-content: space-between;
  
}

.img-hs {
  height: auto;
  width: 200px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.B2 {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.B3 {
  line-height: 1.5;
  color: #333;
  font-size: 20px;
}

@media (max-width: 768px) {
  .historycard-main {
    width: 250px;
  }
}
