.bar-color {
    background-color: #f1bd8d;
}
.logo {
    max-width: 120px;
}
.custom-button {
    border-radius: 50px; 
    background-color: white;
    color: black; 
    border: none;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    margin-left: 15px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: rgb(253, 161, 1); 
        color: white;
    }
}
.text {
    color: white;
}
.brand {
    cursor: pointer;
}
  