.frame-large0 {
    border:5px solid #FFF48F;
    width:900px;
    margin:auto;
    border-radius:20px ;
    margin-top: 20px;
}
.frame-large {
    width: 600px;
    height: 900px;
    margin:  auto;
    margin-top: 160px;
    margin-bottom: 160px;
    background-color:white;
    padding: 30px;
    border:10px solid #FFF48F;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sm-cl1 {
    background-color:#F79400 ;
    border: #F79400;
}