.paymentstatus-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.paymentstatus-main {
  width: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
  
  /*.img-p {
    height: auto;
    width: 100%;
    border: 1px solid #ddd;
  }*/

  .ps-body {
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  .ps-title {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
  
  .ps-text {
    line-height: 1.5;
    color: #333;
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .paymentstatus-main {
      width: 100%;
      max-width: 250px;
    }
  }