.detail {
    max-height: 325px;
    overflow-y: auto;
    border: 1px solid #ffffff;
    padding: 10px;
    background-color: #ffffff;
}
.card-detail {
    margin-top: 2%;
    padding: 4%;
    background-color: #f6f6f6;
}
.img-detail {
    max-width: 400px;
}