.frame-large0 {
    border:"2px solid #FFF48F";
    width:'500px';
    margin:auto;
}

.frame-large {
    width: 450px;
    height: 600px;
    margin:  auto;
    margin-top: 30px;
    margin-bottom: 160px;
    background-color:white;
    padding: 30px;
    border:10px solid #FFF48F;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sm-cl1-pri {
    background-color:#F79400 ;
    border: #F79400;

    &:hover {
        background-color:#F03A00;
      }
}



.sm-cl-sec {
    background-color: dimgrey;
    border: dimgray;

    &:hover {
        background-color: black;
      }
}