.ui-search {
 margin-bottom: 5%;   
}
.each-col {
    margin-left: 3%;
    margin-top: 3%;
}
.background-color {
    background-color: #f7e1cc;
}
.margin {
    border: solid #f7e1cc 5px;
    border-radius: 10px;
    background-color: #f7e1cc;
    padding: 1%;
    margin-bottom: 2%;
}
.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.button {
    width: 100%;
}