.ui-search {
 margin-bottom: 5%;   
}
.each-col {
    margin-left: 3%;
    margin-top: 3%;
}
.background-color {
    background-color: #f7e1cc;
}
.margin {
    border: solid #f7e1cc 5px;
    border-radius: 10px;
    background-color: #f7e1cc;
    padding: 1%;
    margin-bottom: 2%;
    filter: drop-shadow(10px 7px 10px rgb(198, 181, 181));
}
.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    filter: drop-shadow(10px 7px 10px rgb(198, 181, 181));
}
.button {
    width: 100%;
    margin-top: 10px;
    filter: drop-shadow(10px 10px 10px rgb(198, 181, 181));
}
.form-search {
    filter: drop-shadow(10px 7px 10px rgb(198, 181, 181));
}