.each-card {
    margin-bottom: 8%;
    filter: drop-shadow(10px 7px 10px rgb(198, 181, 181));
    max-width: 250px;
    cursor: pointer;
    &:hover {
        padding: 2px;   
    }
}
.img-card {
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.button-tour {
    display: flex;
    justify-content: space-around;
}
.img-detail {
    max-width: 200px;
}
.button-detail {
    margin-left: 30px; 
    max-width: 100px;
}
.card-detail {
    margin-top: 2%;
    padding: 4%;
    background-color: #f6f6f6;
}
.detail {
    max-height: 325px;
    overflow-y: auto;
    border: 1px solid #ffffff;
    padding: 10px;
    background-color: #ffffff;
}
.name-tour {
    color: rgb(255, 0, 0);
}
.dot-date {
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-Content: center;
    align-Items: center;
    text-indent: 60%;
    white-space: nowrap;
}
.dot-end {
    background-color: purple;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-Content: center;
    align-Items: center;
    text-indent: 70%;
    white-space: nowrap;
}
.comment {
    max-height: 200px;
    overflow-y: scroll;
    background-color: white;
}
.detail-button {
    width: 100%;
    color: white;
    background-color: rgb(0, 110, 255);
    border: none;
    &:hover {
        text-decoration: underline;
    }
}
.reserve-button {
    width: 100%;
    color: white;
    background-color: rgb(43, 157, 45);
    border: none;
    &:hover {
        background-color: rgb(23, 137, 25);
        text-decoration: underline;
    }
    &:active {
        background-color: rgb(23, 137, 25) ;
    }
}
.mini-detail {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 7.4vh;
    font-size: 16px;
}
.time-tour {
    font-size: 16px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 201, 201);
    color: #000000;
    margin-left: 1%;
    margin-right: 1%;
}
.bt-detail {
    max-width: 80px;
    width: 100%;
    background-color: green;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    &:hover {
        background-color: rgb(15, 137, 15);
    }
}
.date-datail-tour {
    margin-left: 15%;
    margin-right: 15%;
}
@media (max-width: 770px) {
    .time-tour {
        font-size: 14px;
        white-space: pre;
        padding: 0%;
    }
    .date-datail-tour {
        margin: 0%;
    }
}